@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.frame72{
display: flex;
width: 233px;
flex-direction: column;
align-items: center;
gap: 45.529px;
}
:root {
  --Background-Color-Black: #1A2434;
}
